<h1>
  <%= link_to "SimpleBBS", root_path %>
</h1>

<h2>スレッド作成</h2>
<%= render @view.bbs_threads_create_view %>

<hr>

<h2>スレッド一覧</h2>
<table>
  <tbody>
    <%= render @view.bbs_thread_views %>
  </tbody>
</table>
