<section class="section">
  <h2 class="title">スレッド作成</h2>
  <%= render @view.bbs_threads_create_view %>
</section>
<section class="section">
  <h2 class="title">スレッド一覧</h2>
  <div class="container">
    <%= render @view.bbs_thread_views %>
  </div>
</section>