<h1>
  <%= link_to "SimpleBBS", root_path %>
  »
  <%= @view.bbs_thread_title %>
</h1>

<h2>投稿作成</h2>
<%= render @view.bbs_posts_create_view %>

<hr>

<h2>投稿一覧</h2>
<table>
  <tbody>
    <%= render @view.bbs_post_views %>
  </tbody>
</table>
